streamlit
pandas
base58
numpy
pillow
scikit-learn

# pip install prophet streamlit yfinance plotly for stockforecast app
prophet
yfinance
plotly

#git+https://github.com/artefactory-global/streamlit_prophet.git@main

#streamlit-prophet

# streamlit==0.71.0
# pandas==1.1.3
# base58==2.0.1
# numpy==1.19.2
# pillow==8.0.1
# scikit-learn==0.23.2
